body{
	background: #000;
}

#landing-header {
  z-index: 1;
  position: relative;  /* Required property for z-index because z-index doesn't work on position: static */
  text-align: center;
  padding-top: 40vh;  /* Vertically Aligning */
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}


.slideshow li{ 
  width: 100%;
  height: 100%;  /* covering full viewport */
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;  /* image fits the viewport */
  background-position: 50% 50%; /* centers the image on page */
  background-repeat: no-repeat;
  opacity: 0;  /* Because of this, no background image will be visible until the imageAnimation increases the opacity */
  z-index: 0;
  animation: imageAnimation 50s linear infinite;  /* Linear tells that the animation should run at the same speed */
}



.slideshow li:nth-child(1) { 
  background-image: url(https://i.ibb.co/NynRnww/1.jpg); 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://i.ibb.co/7SsgQNy/2.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://i.ibb.co/Brdc91z/3.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://i.ibb.co/8dk2nr3/4.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://i.ibb.co/N2dbVyR/5.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% {   
	  /* At 0%, first image is getting faded in. */
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {   
	  /* 10% of 50 =5s At this time, image is solid and visible. */
    opacity: 1;
    animation-timing-function: ease-out;
  }
20% {   /*  Stays solid till 10s. */
    opacity: 1;
  }
   30% { /* At 10 interval, the current image's opacity is reduced to 0. and the same cycle from 0% (above) starts. */
    opacity: 0;
  }
}


/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

